/* COMMON */
header,
main {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 110px;
  letter-spacing: -7px;
  font-weight: 500;
  margin-bottom: 20px;
}

main .trending-section,
main .articles {
  padding: 0px 70px 30px;
}

.data {
  font-weight: 400;
  color: rgb(158, 157, 157);
}

.data span {
  padding-bottom: 7px;
  margin: 0 4px;
}

/* HEADER */

/* NAV */

header,
.navbar {
  background-color: #ffc017;
  margin-bottom: 50px;
  transition: background-color 0.5s;
}

header .navbar {
  display: flex;
  justify-content: space-around;
  padding: 1.2em 0;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

header .navbar ul {
  list-style-type: none;
  font-size: 0.8em;
  display: flex;
}

header .navbar ul li {
  display: inline;
  /* margin: 0 1em; */
  padding: 12px 1em;
}

header .navbar ul .join {
  background-color: black;
  border-radius: 25px;
  transition: background-color 0.5s;
}

header .navbar a {
  color: black;
}

header .navbar .join a {
  color: white;
}

/* INIZIO SECTION START READING */

header .start-reading {
  position: relative;
}

header .start-reading .title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .start-reading {
  display: flex;
  position: relative;
}
/* 
header .start-reading .title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

header .start-reading .m-container {
  position: absolute;
  right: 0;
  top: 63px;
}

header .title-container {
  margin-left: 5%;
}

header .title-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px 0 93px;
}

header .title-container h2 {
  margin-bottom: 50px;
  font-size: 1.5em;
  width: 450px;
}

header .title-container a {
  text-align: center;
  font-size: 1.3em;
  padding: 10px 1em;
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
  width: 180px;
}

/* MAIN */

main .trending-on-medium {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 0px 5%;
}

main .trending-on-medium h4,
aside h5 {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

/* SECTION TRENDING */

main .trending-section {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgray;
  padding: 0 5%;
}

.trending-news {
  display: flex;
}

.trending-container {
  width: 33%;
}

.trending-news div:first-child {
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  font-size: 1.4em;
  margin-right: 10px;
}

.trending-news div:last-child {
  width: 300px;
  margin-bottom: 24px;
}

.trending-news p,
.articles p {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  font-weight: 700;
}

.trending-news div:first-child {
  margin-top: 8px;
}

.trending-news img,
.articles p img {
  border-radius: 50%;
  transform: scale(0.6);
}

.trending-news h5,
.articles h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

/* ARTICLES LIST */

main .articles {
  display: flex;
  padding-top: 50px;
  margin: 0 10px;
}

.articles .articles-container {
  margin-right: 20px;
}

.articles .articles-container > div {
  margin-bottom: 30px;
}

.articles .articles-container h3 {
  font-size: 1.2em;
  padding-right: 10px;
}

.articles .articles-container > div {
  display: flex;
}

.articles .articles-container div > img {
  /* transform: scale(0.5); */
  width: 200px;
  height: 134px;
  margin-top: 20px;
}

.articles .articles-container h4 {
  color: grey;
  font-size: 1.1em;
  margin-bottom: 1em;
  padding-right: 30px;
}

/* ASIDE */

aside {
  margin-left: 20px;
  top: 0px;
}

aside h5 {
  margin-bottom: 1em;
}

aside .aside-container {
  position: sticky;
  top: 100px;
}

aside .topics-container,
aside .footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20%;
  padding-bottom: 30px;
}

aside .footer-links {
  border-top: 1px solid lightgray;
}

aside p {
  padding: 10px 20px;
  font-size: 0.7em;
  font-weight: 400;
  margin-right: 10px;
}

aside .footer-links p {
  padding: 10px;
}

aside .topics-container p {
  border: 1px solid lightgrey;
}

aside a {
  color: rgb(103, 103, 103);
}

/* MEDIA */

@media screen and (min-width: 1400px) {
  .title-container div {
    margin-left: 15%;
    width: 800px;
  }

  .trending-on-medium {
    margin: 0 8%;
  }

  section.trending-section {
    padding: 0 12%;
  }

  article.articles {
    padding: 50px 12% 0;
  }

  .articles .articles-container {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1050px) {
  header .start-reading .m-container {
    display: none;
  }

  div.trending-container {
    width: 50%;
  }
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 6em;
  }

  .articles {
    flex-direction: column-reverse;
  }

  aside .topics-container {
    margin-right: 0;
  }

  aside .footer-links {
    margin-right: 0;
  }

  aside .footer-links p {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    margin-bottom: 40px;
  }

  article.articles {
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
  div.trending-container {
    width: 100%;
  }
  .trending-news div:last-child {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .navbar .navbar-rightside ul .li-disappear {
    display: none;
  }

  .articles-container > div {
    display: flex;
    justify-content: space-between;
  }

  .articles-container div h4 {
    display: none;
  }

  .articles .articles-container div > img {
    width: 150px;
    height: 100px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 5em;
  }

  header .title-container h2 {
    width: 100%;
  }

  .navbar .navbar-rightside ul .sign-in {
    display: none;
  }

  header .title-container div {
    padding-top: 130px;
  }

  .articles .articles-container h3 {
    font-size: 1em;
  }
}
